
/* .a {

    font-size: 60px;
    font-family: 'Erica One';
} */

.navbar {
    /* background:orange; */
    background-color: orange;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    background-image: linear-gradient(
      -2deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    font-size: 20px;
  }
   .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-image: linear-gradient(
      225deg,
      #796ab1 0%,
      #ff1361 67%,
      #fff800 100%
    );
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.Hub-Btn{
  background-color:  #44107a ; 
  border: none;
  /* color: white; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}
.Hub-Btn:hover{
    background-color: #47d4b1;
}
   */
  /* @keyframes textclip {
    to {
      background-position: 200% center;
    } */

.Jumbo{
   
  background-image: url("./img/movie-theater.jpg");
    /* width: 300px;   */
    height: 280px;  
     /* text-align: center;   */
    padding: 60px; 
}  
.bg-dark {
  background-color: white;
  background-image: "../assets/img/cinema-film-.jpg";

}

h1{
    font-family: 'Erica One';
    font-size: 1.5rem;
    /* text-transform: uppercase; */
    background-image: linear-gradient(
      -220deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    /* color: #fff; */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 20px;
  }
  
  @keyframes textclip {
    to {
      background-position: 100% center;
    }
  }



div.card-body{
    background-color: white;
    /* color: black; */
}
a.The-Hub.navbar-brand{
    /* color: white; */
    font-size: 40px;
    font-family: 'Erica One';
    
}
.card{
    background-color: white;
    color: black;
}

@media (min-width: 576px) {
    .card-columns {
      column-count: 1;
    }
  }
  
  @media (min-width: 768px) {
    .card-columns {
      column-count: 2;
    }
  }
  
  @media (min-width: 992px) {
    .card-columns {
      column-count: 3;
    }
  }



