.Hub-Btn {
    background-color: #ffa31a;
    border: #ffa31a;
    padding: 0.65rem;
}

.Jumbo {
    background-color: black;
}

.Container {
    color: white;
}

.card {
    background-color: black;
}

.length {
    font-family: 'Erica One';
    animation: color-change 2s linear infinite;
    font-size: 45px;
}

@keyframes color-change {
    0% { color: #4d4177; }
    50% { color: #44107a; }
    100% { color: #ff1361; }
}