.Hub-Btn {
    background-color: #ffa31a;
    border: #ffa31a;
    padding: 0.65rem;
}

.Jumbo {
    background-color: black;
}

.Container {
    color: white;
}

.card {
    background-color: black;
}